*{
  margin: 0%;
  padding: 0%;
}
.header{
  background-color: rgba(23, 173, 211, 0.452);
  /* height: 8.5vh; */
  position: relative;
  display: flex;
}
.header img{
  height: 8vh;
  width: 5vw;
}

.main_note{
  /* background-color: yellow; */
  text-align: center;
  justify-items: center;
  margin-top: 3vh;
  position: absolute;
  height: auto;
  width: 18vw;
  /* width: 100%; */
  box-shadow: 2px 2px 2px 2px black;
  left: 50%;
  transform: translate(-50%);
  
}
.main_note input{
  border: none;
  margin-top: 1vh;
  width: 18vw;
  box-shadow: 1px 1px 1px 1px red;
  
  
}
.main_note textarea{
  border: none;
  width: 18vw;
  height: 24vh;
  margin-top: 0.5vh;
  box-shadow: 1px 1px 1px 1px red;
  
}
.main_note .btnn{
  background-color: orangered;
  border-radius: 50%;
  position: absolute;
  left: 204%;
}
.main_note .btnn:hover{
  background-color: orange;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.c-note{
  position: relative;
  float: left;
  margin-top: 20%;
  
}
.c-note .note{
  height: 20vh;
  width: 17vw;
  box-shadow: 2px 2px 2px 2px black;
  margin-left: 17px !important;

}
.note .delbtn{
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.note .delbtn:hover{
  background-color: orange;
}